{% extends "partials/base.html" %}
{% block title %}Massboss Entertainment- Aritst{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>
  <!-- Main CSS File -->
  <link href=" {% static '/css/tracks.css' %}" rel="stylesheet">
</head>
<main data-aos="fade-down">
  <div class="overdown container" data-aos="zoom in">
    <div class="lil-description container" style="border: 1px solid transparent">
      <h1 class="heading my-5  fw-bold display-4">
        Get To Know More About <br />
        Our Artistes Here
      </h1>
    </div>
    <div class="grids container-fluid row m-0 p-0">
      <div class="col-12 col-sm-6" style="border: 1px solid transparent">
        <div class="row">
          <div class="mains col-lg-12">
            <div class="artist-1 first-set m-1">
              <img class="img-fluid" src="{% static '/news/5.jpg' %}" alt="" />
            </div>
            <div class="hovering-effect p-0 m-0">
              <p class="mx-1 p-1">
                <span class="fs-4 text-yello">Passion</span><br />
                Art is at the core of their lives and they love what they do. Yes successful artists want to
                make money, but they are motivated by their passion, rather than by external rewards. If it were all
                about the money, they would run out of ideas.
              </p>
            </div>
          </div>
          <div class="w-100 m-4"></div>
          <div class="mains col-lg-12">
            <div class="artist-1 first-set m-1">
              <img class="img-fluid" src="{% static '/news/6.jpg' %}" alt="" />
            </div>
            <div class="hovering-effect p-0 m-0">
              <p class="mx-1 p-1">
                <span class="fs-4">Courage</span><br />
                Successful artists have the courage to pursue their passion and their dreams. They are willing to take
                calculated risks. They have courage and understand that a comfort zone is a beautiful place, but nothing
                ever grows there.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6" style="border: 1px solid transparent">
        <div class="row">
          <div class="mains col-lg-12">
            <div class="artist-1 first-set m-1">
              <img class="img-fluid" src="{% static '/news/7.jpg' %}" alt="" />
            </div>
            <div class="hovering-effect p-0 m-0">
              <p class="mx-1 p-1">
                <span class="fs-4">Entrepreneurial</span><br />
                They work hard and know how to manage their time and how to delegate menial tasks. These artists
                understand the value of networking with galleries and their fellow artists. Successful artists also use
                branding, and social media to enhance their business and marketing plan. They recognize that money is a
                by-product of the value they offer. They follow their dream.
              </p>
            </div>
          </div>
          <div class="w-100 m-4"></div>
          <div class="mains col-lg-12">
            <div class="artist-1 first-set m-1">
              <img class="img-fluid" src="{% static '/news/8.jpg' %}" alt="" />
            </div>
            <div class="hovering-effect p-0 m-0">
              <p class="mx-1 p-1">
                <span class="fs-4">Focused</span><br />
                Successful artists can concentrate. They keep their eye on the mark, and are goal oriented. When their
                tasks are complete, they continue to come up with fresh ideas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center" title="Back To Top">
  <i class="bi bi-arrow-up-short"></i></a>
{% endblock %}