{% extends "partials/base.html" %}
{% block title %}Massboss Entertainment- Home{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1 class="heroText text-white">MUSIC <br><br><span id="heroText2">PRODUCTION</span></h1>
      <!--h1 class="heroText" id="heroText2">PRODUCTION</h1-->
      <h2>Massboss is the leading music producer in Africa!</h2>
      <div class="d-flex">
        <a href="{% url 'music-about' %}" class="btn-get-started scrollto text-decoration-none mx-5">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


    <!--======= Artists Section ========-->
    <section id="testimonials" class="artists">
      <div class="container" data-aos="zoom-in">

        <div class="artists-slider swiper" data-aos="fade-up" data-aos-delay="150">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="artists-item">
                <img src="{% static '/img/clients/client-1.png' %} " alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="artists-item">
                <img src="{% static '/img/clients/client-1.png' %}" alt="">
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="artists-item">
                
                <img src="{% static '/img/clients/client-1.png' %}" alt="">
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="artists-item">
                <img src=" {% static '/img/clients/client-1.png' %}" alt="">
              </div>
            </div><!-- End testimonial item -->
            
            <div class="swiper-slide">
              <div class="artists-item">
                <img src=" {% static '/img/clients/client-1.png' %}" alt="">
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!--========End Artists Section =======-->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Get Quality Services</h3>
          <p>Massboss has been providing services for over 10years. Just try Us!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box serv-music">
              <div class="icon"><i class="bx bi bi-file-earmark-music-fill"></i></div>
              <h4><a href="">Music Production</a></h4>
              <p> process by which music is created, captured, manipulated, and preserved so that it can be distributed
                and enjoyed.</p>           
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box serv-video">
              <div class="icon"><i class="bx bi bi-camera-reels-fill"></i></div>
              <h4><a href="">Video Produciton</a></h4>
              <p>Whether it's a short film, a
                full-length movie, business marketing video, television commercial, music video, or other type of film,
                We got you</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box serv-photo">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Music Production</a></h4>
              <p>process by which music is created, captured, manipulated, and preserved so that it can be distributed
                and enjoyed.</p>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 " data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box serv-photo">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Scaling Services</a></h4>
              <p>Dedicated Staff to help boost music and video production by scaling</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static '/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Sarkodie</h3>
                <h4>Ghanaian Rapper</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static '/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Eminem</h3>
                <h4>American Rapper</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Fancy Gadam</h3>
                <h4>Ghanaian Musician</h4>
              </div>
            </div><!-- End testimonial item -->
           
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>Ashaiman, Ghana ....</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>masboyyofficial@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+233 550 988 226</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
  title="Back To Top"
  ><i class="bi bi-arrow-up-short"></i
></a>


















{% endblock content %}

