{% extends "partials/base.html" %}
{% block title %}Massboss Entertainment- Home{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<main>
  <div class="overup">
    <div class="lil-intro container-fluid heroTxtContainer d-flex align-items-center justify-content-around flex-column" data-aos="zoom-out" data-aos-delay="100">
      <div class="container">
        <h1 class="abth2 text-center text-white">YOU HOME, ENJOY QUALITY MUSIC</h1>
        <h1 class="second-2  display-6 text-center fw-light text-white">Our Tracks</h1>
      </div>

    </div>
    <div class="container tracks" data-aos="fade-up" style="border:1px solid transparent">
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-center justify-content-center mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-1">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-2">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-3">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-center justify-content-center mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="create tr-4">
                  <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="create tr-5">
                  <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="create tr-5">
                  <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-6">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-7">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="create tr-8">
                    <iframe class="link-vid" height="315" src="https://www.youtube.com/embed/XeXnl4rVUHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="see-more container d-flex align-items-center justify-content-center">
          <a href="https://www.youtube.com/@Massbossrecords" class="fs-5 my-4 btn btn-outline-warning" role="button" target="_blank">SEE MORE</a>
        </div>
    </div>
  </div>
</main>
<footer id="footer">
<div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Massboss</h3>
          <p>
            LC/C30 Tsorlor Selina Street <br>
            Ashaiman, Greater Accra Region<br>
            Ghana <br><br>
            <strong>Phone:</strong> +233 550 999 226<br>
            <strong>Email:</strong> massboyyofficial@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Artists</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Videos</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Music Produciton</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Video Production</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Music Producation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Studio Recording</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Vartsy Technologies</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Get interactive with Massboss Entertainment on social media</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>Massboss</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://vartsytech.com/" style="color: white;">Vartsy Technologies</a>
    </div>
  </div>
</footer><!--End of footer-->
{% endblock %}

