{% extends "partials/base.html" %}
{% block title %}Massboss Entertainment- Upload{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header text-center">Upload Song</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="d-grid" ><input type="submit" value="Upload">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{%endblock%}